@model IEnumerable<Notebook.Model.Contact>

@{
    ViewData["Title"] = "Index";
}

<h1>Список</h1>

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        <p>
            <a asp-action="Create">Добавить новую запись</a>
        </p>
    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    <form asp-action="Details" method="get">
                        <input type="hidden" asp-for="FirstOrDefault(e => e.Id == item.Id).Id" value="@item.Id" /> 
                        <div>
                            <button type="submit">
                               Подробнее
                            </button>
                        </div>
                    </form>
                    @* <button type="button" class="btn-action">
                        <a class="btn-link" asp-action="Details" asp-route-id="@item.Id">Подробнее</a>
                    </button> *@

                        if (User.IsInRole("Admin"))
                        {
                        <form asp-action="Delete" method="get">
                            <input type="hidden" asp-for="FirstOrDefault(e => e.Id == item.Id).Id" value="@item.Id" />
                            <div>
                                <button type="submit">
                                    Удалить
                                </button>
                            </div>
                        </form>
                        @* <button type="button" class="btn-action">
                            <a class="btn-link" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                        </button> *@
                        <form asp-action="Edit" method="get">
                            <input type="hidden" asp-for="FirstOrDefault(e => e.Id == item.Id).Id" value="@item.Id" />
                            <div>
                                <button type="submit">
                                    Изменить
                                </button>
                            </div>
                        </form>
                        @* <button type="button" class="btn-action">
                            <a class="btn-link" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                        </button> *@
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
