@model IEnumerable<Notebook.Model.Contact>

@{
    ViewData["Title"] = "Index";
}

<h1>Список</h1>

@if (User.Identity.IsAuthenticated)
{
    <form class="form-action" asp-action="Create" method="get">
        <div>
            <button class="btn-action" type="submit">
                Создать новую запись
            </button>
        </div>
    </form>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                <div class="div-actions">
                    <form class="form-action" asp-action="Details" method="get">
                        <input type="hidden" asp-for="FirstOrDefault(e => e.Id == item.Id).Id" value="@item.Id" /> 
                        <div>
                            <button class="btn-action" type="submit">
                                Подробнее
                            </button>
                        </div>
                    </form>

                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    { 
                        <form class="form-action" asp-action="Delete" method="get">
                            <input type="hidden" asp-for="FirstOrDefault(e => e.Id == item.Id).Id" value="@item.Id" />
                            <div >
                                <button class="btn-action" type="submit">
                                    Удалить
                                </button>
                            </div>
                        </form>
                        <form class="form-action" asp-action="Edit" method="get">
                            <input type="hidden" asp-for="FirstOrDefault(e => e.Id == item.Id).Id" value="@item.Id" />
                            <div>
                                <button class="btn-action" type="submit">
                                    Изменить
                                </button>
                            </div>
                        </form>
                    }
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
